@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="row">
        <div class="col">
            <h1 class="display-4">Pizzeria Static</h1>
            <p>Scegli la pizza statica che ti piace di più!</p>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-between">
            @foreach (Pizza pizza in (Pizza[])ViewBag.PizzaList)
            {
                <div class="card w-25">
                    <img src="@pizza.Img" class="card-img-top" alt="card-img-top">
              
                    <div class="card-body">
                        <h2 class="card-title">@pizza.Name</h2>
                    
                        <p class="card-text">@pizza.Description</p>
                    </div>
              
                    <div class="card-footer text-muted">
                        <a href="#" class="btn btn-danger">@pizza.Price $</a>
                    </div>
                </div>
            }
            
        </div>
    </div>

    
</div>
